[Unit]
Description=BorderRouter

[Service]
ExecStart=/home/pi/Desktop/VitaBox/Scripts/borderRouterRun.sh
##Required on some systems
Restart=always
##Restart service after 10 seconds if node service crashes
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=VitaBoxBorderRouter

[Install]
WantedBy=multi-user.target